$w: rgb(255,255,255);
$b: rgb(0,0,0);

//Green palette
$green1: rgb(43, 148, 73);
$green2: rgb(85, 166, 48);
$green3: rgb(129, 186, 24);
$green4: rgb(232, 194, 107);

//Blue palette
$blue1: rgb(3, 61, 138);
$blue2: rgb(0, 119, 184);
$blue3: rgb(146, 224, 240);
$blue4: rgb(200, 240, 247);

//Violet palette
$violet1: rgb(0, 33, 77);
$violet2: rgb(92, 14, 64);
$violet3: rgb(161, 21, 63);
$violet4: rgb(255, 33, 78);

//Orange palette
$orange1: rgb(245, 77, 5);
$orange1_4: rgb(245, 77, 5, .4);
$orange2: rgb(245, 116, 2);
$orange3: rgb(245, 135, 0);
$orange4: rgb(0, 60, 120);

//Amber palette
$amber1: rgb(112, 14, 1);
$amber2: rgb(255, 133, 3);
$amber3: rgb(255, 180, 5);
$amber4: rgb(255, 209, 43);

//Turquoise palette
$turquoise1: rgb(129, 27, 33);
$turquoise2: rgb(72, 209, 205);
$turquoise3: rgb(117, 233, 222);
$turquoise4: rgb(255, 248, 229);

//Darkgreen palette
$darkgreen1: rgb(1, 36, 29);
$darkgreen2: rgb(1, 51, 33);
$darkgreen2_4: rgb(1, 51, 33, .4);
$darkgreen3: rgb(1, 81, 33);
$darkgreen4: rgb(194, 255, 241);

//Grey palette
$grey1: rgb(31, 39, 41);
$grey2: rgb(43, 52, 56);
$grey3: rgb(54, 59, 68);
$grey4: rgb(240, 252, 255);